@import "tailwindcss";

@theme {
  --color-brand-50: rgb(250, 250, 250);
  --color-brand-100: rgb(245, 245, 245);
  --color-brand-200: rgb(229, 229, 229);
  --color-brand-300: rgb(212, 212, 212);
  --color-brand-400: rgb(163, 163, 163);
  --color-brand-500: rgb(115, 115, 115);
  --color-brand-600: rgb(38, 38, 38);
  --color-brand-700: rgb(64, 64, 64);
  --color-brand-800: rgb(38, 38, 38);
  --color-brand-900: rgb(23, 23, 23);

  --color-brand-primary: rgb(38, 38, 38);
  --color-subtext-color: rgb(107, 114, 128);
  --color-neutral-border: rgb(229, 231, 235);
  --color-white: rgb(255, 255, 255);
  --color-default-background: rgb(255, 255, 255);
}

/* Custom CSS for CodeBlock */
code {
  counter-reset: step;
  counter-increment: step calc(var(--start, 1) - 1);
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  min-width: 2ch;
  padding-right: 2ch;
  display: inline-block;
  text-align: right;
  color: rgba(115, 138, 148, 0.4);
}
